# ðŸš¢ Titanic Veri Seti Analizi Ã–devi

Bu Ã¶devde Titanic veri seti Ã¼zerinde pandas kÃ¼tÃ¼phanesi kullanarak veri analizi yapacaksÄ±nÄ±z. Sorular kolay seviyeden baÅŸlayarak zorlaÅŸmaktadÄ±r.

## ðŸ“‹ Ã–dev KurallarÄ±:
- Her soruyu ayrÄ± bir hÃ¼crede Ã§Ã¶zÃ¼n
- KodlarÄ±nÄ±zÄ± aÃ§Ä±klayÄ±cÄ± yorumlarla destekleyin
- SonuÃ§larÄ± yorumlayÄ±n
- Grafik Ã§izilebilecek yerlerde gÃ¶rselleÅŸtirme yapÄ±n

## ðŸ“Š Veri Seti HakkÄ±nda:
Titanic veri seti, 1912'de batan Titanic gemisindeki yolcular hakkÄ±nda bilgi iÃ§erir.

**SÃ¼tun AÃ§Ä±klamalarÄ±:**
- `survived`: Hayatta kalma durumu (0 = HayÄ±r, 1 = Evet)
- `pclass`: Yolcu sÄ±nÄ±fÄ± (1 = 1. sÄ±nÄ±f, 2 = 2. sÄ±nÄ±f, 3 = 3. sÄ±nÄ±f)
- `sex`: Cinsiyet
- `age`: YaÅŸ
- `sibsp`: Gemide bulunan kardeÅŸ/eÅŸ sayÄ±sÄ±
- `parch`: Gemide bulunan ebeveyn/Ã§ocuk sayÄ±sÄ±
- `ticket`: Bilet numarasÄ±
- `fare`: Bilet Ã¼creti
- `cabin`: Kabin numarasÄ±
- `embarked`: BindiÄŸi liman (C = Cherbourg, Q = Queenstown, S = Southampton)

---
# âœ… TEMEL SEVÄ°YE SORULAR (KOLAY)
---

### Soru 1: Veri setinde kaÃ§ satÄ±r ve kaÃ§ sÃ¼tun olduÄŸunu bulun.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [ ]:
df.shape

(891, 12)

### Soru 2: TÃ¼m sÃ¼tun isimlerini yazdÄ±rÄ±n.

In [ ]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

bunun yerine df.columns.tolist() yazÄ±lÄ±rsa da sÃ¼tun isimleri bir liste ÅŸeklinde karÅŸÄ±mÄ±za gelecektir

### Soru 3: YaÅŸ ortalamasÄ±nÄ± ve medyanÄ±nÄ± hesaplayÄ±n.

In [ ]:
# Kodunuzu buraya yazÄ±n
mean_age = df['Age'].mean()
median_age = df['Age'].median()

print(f"YaÅŸ OrtalamasÄ±: {mean_age:.2f}")
print(f"YaÅŸ MedyanÄ±: {median_age:.2f}")

YaÅŸ OrtalamasÄ±: 29.70
YaÅŸ MedyanÄ±: 28.00

### Soru 4: Cinsiyet deÄŸiÅŸkenindeki eÅŸsiz deÄŸerleri yazdÄ±rÄ±n.

In [ ]:
# Kodunuzu buraya yazÄ±n
df['Sex'].unique()

array(['male', 'female'], dtype=object)

### Soru 5: `pclass` deÄŸiÅŸkenindeki deÄŸerlerin yÃ¼zdesel daÄŸÄ±lÄ±mÄ±nÄ± yazdÄ±rÄ±n.

In [ ]:
# Kodunuzu buraya yazÄ±n
pclass_dist = df['Pclass'].value_counts(normalize=True) * 100
print(pclass_dist)

Pclass
3    55.106622
1    24.242424
2    20.650954
Name: proportion, dtype: float64

### Soru 6: YaÅŸÄ± 30'dan bÃ¼yÃ¼k kadÄ±n yolcularÄ± listeleyin.

In [ ]:
# Kodunuzu buraya yazÄ±n
female_over_30 = df[(df['Sex'] == 'female') & (df['Age'] > 30)]
female_over_30

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q

### Soru 7: YaÅŸÄ± 18'den kÃ¼Ã§Ã¼k olup 1. sÄ±nÄ±fta yolculuk eden yolcularÄ± listeleyin.

In [ ]:
# Kodunuzu buraya yazÄ±n
young_first_class = df[(df['Age'] < 18) & (df['Pclass'] == 1)]
young_first_class

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
307,308,1,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.00,1,0,PC 17758,108.9000,C65,C
329,330,1,1,"Hippach, Miss. Jean Gertrude",female,16.00,0,1,111361,57.9792,B18,C
435,436,1,1,"Carter, Miss. Lucile Polk",female,14.00,1,2,113760,120.0000,B96 B98,S
445,446,1,1,"Dodge, Master. Washington",male,4.00,0,2,33638,81.8583,A34,S
504,505,1,1,"Maioni, Miss. Roberta",female,16.00,0,0,110152,86.5000,B79,S
550,551,1,1,"Thayer, Mr. John Borland Jr",male,17.00,0,2,17421,110.8833,C70,C
689,690,1,1,"Madill, Miss. Georgette Alexandra",female,15.00,0,1,24160,211.3375,B5,S
781,782,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",female,17.00,1,0,17474,57.0000,B20,S
802,803,1,1,"Carter, Master. William Thornton II",male,11.00,1,2,113760,120.0000,B96 B98,S
853,854,1,1,"Lines, Miss. Mary Conover",female,16.00,0,1,PC 17592,39.4000,D28,S

### Soru 8: Ä°lk 10 gÃ¶zlemden son 3'Ã¼nÃ¼ gÃ¶sterin.

In [ ]:
# Kodunuzu buraya yazÄ±n
df.head(10).tail(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

### Soru 9: Bilet fiyatÄ± (fare) 100'den bÃ¼yÃ¼k olan kaÃ§ kiÅŸi vardÄ±r?

In [ ]:
# Kodunuzu buraya yazÄ±n
high_fare_count = df[df['Fare'] > 100].shape[0]
print(f"Bilet fiyatÄ± 100'den bÃ¼yÃ¼k olan yolcu sayÄ±sÄ±: {high_fare_count}")

Bilet fiyatÄ± 100'den bÃ¼yÃ¼k olan yolcu sayÄ±sÄ±: 53

### Soru 10: `sex`, `age` ve `fare` sÃ¼tunlarÄ±ndan oluÅŸan yeni bir DataFrame oluÅŸturun.

In [38]:
# Kodunuzu buraya yazÄ±n
new_df = df[['Sex', 'Age', 'Fare']]
new_df.head()

      Sex   Age     Fare
0    male  22.0   7.2500
1  female  38.0  71.2833
2  female  26.0   7.9250
3  female  35.0  53.1000
4    male  35.0   8.0500

---
# âš™ï¸ ORTA SEVÄ°YE SORULAR
---

### Soru 1: Cinsiyete gÃ¶re yaÅŸ ortalamasÄ±nÄ± bulun.

In [39]:
# Kodunuzu buraya yazÄ±n
sex_age_mean = df.groupby('Sex')['Age'].mean()
print(sex_age_mean)

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

### Soru 2: SÄ±nÄ±fa gÃ¶re hayatta kalan kiÅŸi sayÄ±sÄ±nÄ± bulun.

In [40]:
# Kodunuzu buraya yazÄ±n
survived_by_class = df.groupby('Pclass')['Survived'].sum()
print(survived_by_class)

Pclass
1    136
2     87
3    119
Name: Survived, dtype: int64

### Soru 3: Hem cinsiyet hem sÄ±nÄ±fa gÃ¶re hayatta kalma oranlarÄ±nÄ± hesaplayÄ±n.

In [41]:
# Kodunuzu buraya yazÄ±n
survival_rate = df.groupby(['Sex', 'Pclass'])['Survived'].mean()
print(survival_rate)

Sex     Pclass
female  1         0.968085
        2         0.921053
        3         0.500000
male    1         0.368852
        2         0.157407
        3         0.135447
Name: Survived, dtype: float64

### Soru 4: Embarked deÄŸiÅŸkenine gÃ¶re ortalama yaÅŸ ve ortalama Ã¼cret nedir?

In [42]:
# Kodunuzu buraya yazÄ±n
embarked_stats = df.groupby('Embarked')[['Age', 'Fare']].mean()
print(embarked_stats)

                Age       Fare
Embarked
C         30.814769  59.954144
Q         28.089286  13.276030
S         29.445397  27.079812

### Soru 5: Pclass gruplarÄ±na gÃ¶re yaÅŸÄ±n standart sapmasÄ±nÄ± bulun.

In [43]:
# Kodunuzu buraya yazÄ±n
age_std_by_class = df.groupby('Pclass')['Age'].std()
print(age_std_by_class)

Pclass
1    14.802856
2    14.001077
3    12.495398
Name: Age, dtype: float64

### Soru 6: Her `Embarked` limanÄ±ndan kaÃ§ yolcu olduÄŸunu ve bunlarÄ±n yÃ¼zdelik daÄŸÄ±lÄ±mÄ±nÄ± yazdÄ±rÄ±n.

In [44]:
# Kodunuzu buraya yazÄ±n
embarked_count = df['Embarked'].value_counts()
embarked_percentage = df['Embarked'].value_counts(normalize=True) * 100

print("Yolcu SayÄ±sÄ±:")
print(embarked_count)
print("\nYÃ¼zdelik DaÄŸÄ±lÄ±m:")
print(embarked_percentage)

Yolcu SayÄ±sÄ±:
Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

YÃ¼zdelik DaÄŸÄ±lÄ±m:
Embarked
S    72.440945
C    18.897638
Q     8.661417
Name: proportion, dtype: float64

### Soru 7: YaÅŸÄ± 60'tan bÃ¼yÃ¼k olanlarÄ±n hayatta kalma oranÄ±nÄ± bulun.

In [45]:
# Kodunuzu buraya yazÄ±n
over_60_survival = df[df['Age'] > 60]['Survived'].mean()
print(f"60 yaÅŸ Ã¼stÃ¼ hayatta kalma oranÄ±: {over_60_survival:.2%}")

60 yaÅŸ Ã¼stÃ¼ hayatta kalma oranÄ±: 22.73%

### Soru 8: `Sex`, `Pclass`, `Survived` iÃ§in `groupby()` + `agg()` ile ortalama yaÅŸ ve Ã¼cret hesaplayÄ±n.

In [46]:
# Kodunuzu buraya yazÄ±n
grouped_stats = df.groupby(['Sex', 'Pclass', 'Survived']).agg({'Age': 'mean', 'Fare': 'mean'})
print(grouped_stats)

                              Age        Fare
Sex    Pclass Survived
female 1      0         25.666667  110.604167
              1         34.939024  105.978159
       2      0         36.000000   18.250000
              1         28.080882   22.288989
       3      0         23.818182   19.773093
              1         19.329787   12.464526
male   1      0         44.581967   62.894910
              1         36.248000   74.637320
       2      0         33.369048   19.488965
              1         16.022000   21.095100
       3      0         27.255814   12.204469
              1         22.274211   15.579696

### Soru 9: Age deÄŸiÅŸkenini artan dÃ¼zende sÄ±ralayÄ±n ve ilk 10 kiÅŸiyi yazdÄ±rÄ±n.

In [47]:
# Kodunuzu buraya yazÄ±n
grouped_stats = df.groupby(['Sex', 'Pclass', 'Survived']).agg({'Age': 'mean', 'Fare': 'mean'})
print(grouped_stats)

                              Age        Fare
Sex    Pclass Survived
female 1      0         25.666667  110.604167
              1         34.939024  105.978159
       2      0         36.000000   18.250000
              1         28.080882   22.288989
       3      0         23.818182   19.773093
              1         19.329787   12.464526
male   1      0         44.581967   62.894910
              1         36.248000   74.637320
       2      0         33.369048   19.488965
              1         16.022000   21.095100
       3      0         27.255814   12.204469
              1         22.274211   15.579696

---
# ðŸ§  KÄ°RLENMEK GÃœZELDÄ°R SORULARI :)
---

### Soru 1: En pahalÄ± bileti alan kiÅŸinin yaÅŸÄ±, cinsiyeti ve sÄ±nÄ±fÄ± nedir?

In [48]:
# Kodunuzu buraya yazÄ±n
max_fare_row = df[df['Fare'] == df['Fare'].max()][['Age', 'Sex', 'Pclass']]
print(max_fare_row)

      Age     Sex  Pclass
258  35.0  female       1
679  36.0    male       1
737  35.0    male       1

### Soru 2: Hayatta kalanlar ile Ã¶lenler arasÄ±nda yaÅŸ ortalamalarÄ± farkÄ± nedir?

In [49]:
# Kodunuzu buraya yazÄ±n
age_diff = df.groupby('Survived')['Age'].mean()
age_diff = age_diff[1] - age_diff[0]
print(f"YaÅŸ ortalamasÄ± farkÄ±: {age_diff:.2f}")

YaÅŸ ortalamasÄ± farkÄ±: -2.28

### Soru 3: Hangi `Pclass` grubunda kadÄ±nlarÄ±n hayatta kalma oranÄ± en yÃ¼ksektir?

In [51]:
# Kodunuzu buraya yazÄ±n
female_survival_by_class = df[df['Sex'] == 'female'].groupby('Pclass')['Survived'].mean()
print(female_survival_by_class)
print(f"En yÃ¼ksek oran: {female_survival_by_class.idxmax()} sÄ±nÄ±f, {female_survival_by_class.max():.2%}")

Pclass
1    0.968085
2    0.921053
3    0.500000
Name: Survived, dtype: float64
En yÃ¼ksek oran: 1 sÄ±nÄ±f, 96.81%

### Soru 4: Ortalama yaÅŸÄ±n altÄ±nda olan ve hayatta kalan erkeklerin sayÄ±sÄ± kaÃ§tÄ±r?

In [52]:
# Ortalama yaÅŸÄ±n altÄ±nda hayatta kalan erkekler
mean_age = df['Age'].mean()
survived_males_below_mean = df[(df['Age'] < mean_age) & (df['Sex'] == 'male') & (df['Survived'] == 1)].shape[0]
print(f"Ortalama yaÅŸÄ±n altÄ±nda hayatta kalan erkek sayÄ±sÄ±: {survived_males_below_mean}")

Ortalama yaÅŸÄ±n altÄ±nda hayatta kalan erkek sayÄ±sÄ±: 51

### Soru 5: `Cabin` deÄŸeri eksik olmayanlarÄ±n yaÅŸ ortalamasÄ± ile eksik olanlarÄ±n yaÅŸ ortalamasÄ± arasÄ±nda fark var mÄ±?

In [53]:
# Cabin eksik ve eksik olmayanlarÄ±n yaÅŸ ortalamasÄ±
cabin_present_mean = df[df['Cabin'].notna()]['Age'].mean()
cabin_missing_mean = df[df['Cabin'].isna()]['Age'].mean()
age_diff = cabin_present_mean - cabin_missing_mean
print(f"Kabin bilinenlerin yaÅŸ ortalamasÄ±: {cabin_present_mean:.2f}")
print(f"Kabin bilinmeyenlerin yaÅŸ ortalamasÄ±: {cabin_missing_mean:.2f}")
print(f"Fark: {age_diff:.2f}")

Kabin bilinenlerin yaÅŸ ortalamasÄ±: 35.83
Kabin bilinmeyenlerin yaÅŸ ortalamasÄ±: 27.56
Fark: 8.27

### Soru 6: `.describe()` Ã§Ä±ktÄ±sÄ±na gÃ¶re Ã§arpÄ±klÄ±k var mÄ±? Hangi deÄŸiÅŸkenlerde?

In [54]:
# Describe ile Ã¶zet istatistikler
print(df.describe())

# Ã‡arpÄ±klÄ±k kontrolÃ¼
skewness = df[['Age', 'Fare', 'SibSp', 'Parch']].skew()
print("\nÃ‡arpÄ±klÄ±k deÄŸerleri:")
print(skewness)

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

Ã‡arpÄ±klÄ±k deÄŸerleri:
Age      0.389108
Fare     4.787317
SibSp    3.695352
Parch    2.749117
dtype: float64

### Soru 7: Veri setindeki en fazla tekrarlanan yaÅŸ deÄŸeri (mod) nedir?

In [55]:
# YaÅŸÄ±n modu
age_mode = df['Age'].mode()[0]
print(f"En sÄ±k tekrar eden yaÅŸ: {age_mode}")

En sÄ±k tekrar eden yaÅŸ: 24.0

### Soru 8: Ortalama bilet fiyatÄ± kadÄ±nlar mÄ± yoksa erkekler iÃ§in mi daha yÃ¼ksek?

In [56]:
# Cinsiyete baÄŸlÄ± olarak ortalama bilet fiyatÄ±
fare_by_gender = df.groupby('Sex')['Fare'].mean()
print(fare_by_gender)
print(f"Daha yÃ¼ksek fiyat Ã¶deyen: {fare_by_gender['female'] > fare_by_gender['male']}")

Sex
female    44.479818
male      25.523893
Name: Fare, dtype: float64
Daha yÃ¼ksek fiyat Ã¶deyen: True